/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	color:white;
	font-size:62.5%;
	font-family: 'Lato', sans-serif;
}

.fixed-content {
	position:fixed;
	z-index: 10;
	width:100%;
	height:50%;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.content {
	width:80%;
    min-width: 800px;
    max-width: 1000px;
	margin:50px auto;
}
.content-text {
	position: relative;
	float:right;
	width:500px;
}
.device-frame {
	position: relative;
	float:left;
}
.device {
	width:266px;
	position: relative;
}
.device-slide {
	position:absolute;
	top:33px;
	left:10px;
	z-index: 15;
	text-align:center;
}
.device-slide1 {
	background:white;
	width:176px;
	height:325px;
	border:7px dashed grey;
	color:grey;
	font-size:3em;
}
.slide {
	position: absolute;
	top:65px;
	left:0;
	width:100%;
	z-index: 0;
}
.slide .animatable {
	opacity:0;
	-webkit-transform:translate(0,30px);
	transform:translate(0,30px);
	-webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
	transition:opacity 0.4s ease,transform 0.4s ease;

}
.slide.active.remove .animatable {
	opacity:0;
	-webkit-transform:translate(0,-20px);
	transform:translate(0,-20px);
}

.slide.active .animatable {
	opacity:1;
	-webkit-transform:translate(0,0);
	transform:translate(0,0);

}
.slide.active {
	z-index: 10;
}

h2 {
	font-size:5em;
	margin-bottom:20px
}
p {
	font-size: 3em;
	line-height:1.4;
	margin-bottom:10px;
}
a:link,
a:visited {
	color:white;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
.arrow {
	position: relative;
	padding-right:15px;
}

.arrow:before,
.arrow:after {
	content:'';
	position: absolute;
	right:0;
	top:4px;

	width:2px;
	height:12px;
	background: white;
}
.arrow:before {
	transform: rotate(45deg);
	top:12px;
}
.arrow:after {
	transform: rotate(-45deg);

}
.inner {
	position: relative;
	height:100%;

}

.home, .panel4, .panel8 {
	background: #4fd0ea;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fd0ea), color-stop(100%, #4BB7B9));
	background:-webkit-linear-gradient(top, #4fd0ea 0%, #4BB7B9 100%);
	background:linear-gradient(to bottom, #4fd0ea 0%, #4BB7B9 100%);
	background-repeat: no-repeat;
}

.panel1, .panel5, .panel9 {
	background:##4BB7B9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4BB7B9), color-stop(100%, #6AB981));
	background: -webkit-linear-gradient(top, #4BB7B9 0%, #6AB981 100%);
	background: linear-gradient(to bottom, #4BB7B9 0%, #6AB981 100%);
	background-repeat: no-repeat;
}

.panel2, .panel6, .panel10 {
	background: #6AB981;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6AB981), color-stop(100%, #AAD292));
	background: -webkit-linear-gradient(top, #6AB981 0%, #AAD292 100%);
	background: linear-gradient(to bottom, #6AB981 0%, #AAD292 100%);
	background-repeat: no-repeat;
}

.panel3, .panel7 {
		background: #AAD292;
}


.home, .panel4, .panel8 {
	background: #4fd0ea;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fd0ea), color-stop(100%, #4BB7B9));
	background:-webkit-linear-gradient(top, #4fd0ea 0%, #4BB7B9 100%);
	background:linear-gradient(to bottom, #4fd0ea 0%, #4BB7B9 100%);
	background-repeat: no-repeat;
}

.panel1, .panel5, .panel9 {
	background:##4BB7B9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4BB7B9), color-stop(100%, #6AB981));
	background: -webkit-linear-gradient(top, #4BB7B9 0%, #6AB981 100%);
	background: linear-gradient(to bottom, #4BB7B9 0%, #6AB981 100%);
	background-repeat: no-repeat;
}

.panel2, .panel6, .panel10 {
	background: #6AB981;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6AB981), color-stop(100%, #AAD292));
	background: -webkit-linear-gradient(top, #6AB981 0%, #AAD292 100%);
	background: linear-gradient(to bottom, #6AB981 0%, #AAD292 100%);
	background-repeat: no-repeat;
}

.panel3, .panel7 {
		background: #AAD292;
}



.section-bg,
.layer-object {
		position:absolute;
		z-index: 1;
}

.coffee {
	right:10%;
	top:0;
}

.napkin {
	left:-150px;
	top:375px;
}
.dohnut {
	top:520px;
	right:-100px;
}
.section-bg {
	z-index: 0;
}


/* panel 2 */

.sushi {
	right:-100px;
	top:30px;
}
.seaweed {
	top:-140px;
	right:20%;
}
.chopsticks {
	left:-300px;
	top:300px;
}



/* Panel 3 */

.leash {
	top:270px;
	left:-260px;
}
.newspaper {
	right:-210px;
	bottom:-460px;
}
.sunglasses {
	right:140px;
	top:-100px;
}

/* panel 4 */

.headphones {
		top:-400px;
		right:-150px;
}
.candy {
	top:70px;
	left:-135px;
}
.passport {
	top:380px;
	right:-130px;
}


.code {
	background:rgba(0,0,0,0.2);
}


.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

.social-corner {
	position: absolute;
	top:18px;
	right:40px;
}
.social-corner iframe:first-child {
	margin-right:3px;
}


@media (max-width:800px) {
	h1 {
		font-size:15vw;
	}
	h2 {
		font-size:12vw;
	}
	.inner {
		width:70%;

	}
}

.alertify-notifier h3{
    font-size: 40px;
}

.alertify-notifier li{
    font-size: 15px;
    padding: 5px;
}
