<HEAD>
    <script type = "text/javascript" src = "js/jquery.min.js"></script>
    <script type = "text/javascript" src = "js/jquery-ui.custom.min.js"></script>
<!--    <script type="text/javascript" src="js/soundmanager2-nodebug-jsmin.js"></script>-->
    <script type="text/javascript" src="js/fireworks.js"></script>
    <link rel="stylesheet" type="text/css" href="css/fireworks.css" media="screen" />
		
    
    <style>
        #circle {
            position: fixed;
            background: #f00;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    
    </style>
    <script Language = "JavaScript"> 

        start = new Date();
        secstart = start.getTime() / 1000;

        function brighter(){

            var now = new Date();
            var seconds = now.getTime() / 1000;
            var base = "0";
            var interval = 6;
            var sec= interval * (seconds - secstart);

            total= base + sec;
            document.getElementById("circle").style.backgroundColor = "hsl("+total+", 100%, 92%)";
            document.getElementById("circle").style.top = $("#yValue").val();
            document.getElementById("circle").style.left = $("#xValue").val();
            setTimeout("brighter()", 10);
        }

        function fire(){
            
            var width = window.innerWidth;
            var height = window.innerHeight;
            
            var x = $('#xValue').val()/width*100+1;
            var y = $('#yValue').val()/height*100+1;
            
            if (x<34) {
                var startX = x-1
            }
            else if (x>66) {
                var startX = x+1
            }
            else{
                var startX = x
            }
            
            if (y<34) {
                var startY = y-1
            }
            else if (y>66) {
                var startY = y+1
            }
            else{
                var startY = y
            }
                    
            createFirework(2,25,3,null,startX,startY,x,y,true,true);
            return false;
        }

    </script>
	
<body onload="brighter()">
		
    <input type="text" id="xValue" size="30" placeholder="x" value="50"/>
    <input type="text" id="yValue" size="30" placeholder="y" value="50"/>
    
    <div id="circle"></div>
    
    <div id="fireworks-template">
        <div id="fw" class="firework"></div>
        <div id="fp" class="fireworkParticle"><img src="images/particles.gif" alt="" /></div>
    </div>

    <div id="fireContainer"></div>

    <input type="button" onclick="fire()" value="Fire" />
</body>
