

<p>
        NUIs are technologies that support ‘natural’ human interactions, such as body-movement, speech, touch and gaze. In the SocialNUI research centre, we focus on the social aspects of NUI interactions. How can NUIs be designed to better support collaboration, engagement and interactions between people? We investigate this question in a variety of contexts through a range of exciting research projects.
</p>


<script>
        
    function insertBreakAtPoint(e) {

        var range;
        var textNode;
        var offset;

        if (document.caretPositionFromPoint) {
            range = document.caretPositionFromPoint(e.clientX, e.clientY);
            textNode = range.offsetNode;
            offset = range.offset;

        } else if (document.caretRangeFromPoint) {
            range = document.caretRangeFromPoint(e.clientX, e.clientY);
            textNode = range.startContainer;
            offset = range.startOffset;
        }

        if (textNode.parentNode.nodeName=="MARK") {
            var mark = textNode.parentNode;
            var text = document.createTextNode(mark.innerHTML);
            
            textNode.parentNode.parentNode.replaceChild(text,mark);
            
        }
        
        if (textNode.nodeType == 3) {
            var startChar = "",endChar = "";
            var limit = 5000;
            do{
                offset --;
                startChar = textNode.nodeValue.substr(offset,1);
                limit --;
            }while(startChar.length === 1 && startChar.match(/[a-zA-Z-']/i) && limit>0);

            startChar = offset;
            limit = 5000;
            do{
                offset ++;
                endChar = textNode.nodeValue.substr(offset,1);
                limit --;
            }while(endChar.length === 1 && endChar.match(/[a-zA-Z-']/i) && limit>0);

            endChar = offset;

            var replacement = textNode.nodeValue.substr(startChar+1,endChar-startChar-1);
            var mark = document.createElement('mark');
            var t = document.createTextNode(textNode.nodeValue.substr(startChar+1,endChar-startChar-1));
            mark.appendChild(t);
            
            textNode.parentElement.innerHTML = textNode.parentElement.innerHTML.replace(replacement, "<mark>"+replacement+"</mark>");

        }
    }

</script>
